
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap');


*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

.header {
  min-height: 100vh;
  width: 100%;
  
}

#box{
  display: flex;
  position: absolute;
  top: 263px;
  left: 32vw;
  /* border: 2px solid red; */
}

#me{
  display: flex;
  margin-left: 35px;
}

.alpha{
  color: #FFFFFF;
  font-size: 77px;
  font-family: 'Almarai',sans-serif;
  margin: 4px;
}

.alpha.animated{
  color: #ff6347;
  animation: ani 0.7s ease-in-out 1;
}

@keyframes ani {
  0%{
    transform: scale(1.2,0.5);
  }
  16%{
    transform: scale(1.2,0.5);
  }
  25%{
    transform: scale(1.2,0.5);
  }
  32%{
    transform: scale(0.8,1.1);
  }
  48%{
    transform: scale(0.95,1);
  }
  64%{
    transform: scale(0.8,1.2);
  }
  80%{
    transform: scale(1.15,1);
  }
  87%{
    transform: scale(1.15,1);
  }
  90%{
    /* This will add the shaking effect one time almost at the end   */
    transform: scale(0.8,1);
  }
  95%{
    transform: scale(1.05,1);
  }
  100%{
    transform: scale(1,1);
  }
}


/* buttons */
a{
  position: absolute;
  display: inline-block;
  padding: 25px 30px;
  color: #33ff00;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: 600;
  justify-content: center;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
}
a:hover{
  background: #fca8f5;
  color: #050801;
  box-shadow: 0 0 5px #fca8f5,
              0 0 25px #fca8f5,
              0 0 50px #fca8f5,
              0 0 200px #fca8f5;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
  filter: hue-rotate(270deg);
}
a:nth-child(2){
  filter: hue-rotate(110deg);
}
a span{
  position: absolute;
  display: block;
}
a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#efff0c);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#ff0000);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
a span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#94fa0e);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#ff3434);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}





.logo {
  position: relative;
  display: flex;
  margin: 20px auto;
  padding-left: 50px;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}
.logo span {
  position: relative;
  display: flex;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i))
}
@keyframes logo {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}



.f{
  margin:0;
  padding:0;
  font-size:60px;
  text-decoration:uppercase;
  background: transparent;
}

.f span{
  display:inline-flex;
  color:#a1ff34;
  background: transparent;
}

.f span:nth-child(even){
  overflow:hidden;
  transition: ease-in-out 0.5s;
  color:#fff;
  letter-spacing:-1em;
}

.f:hover span:nth-child(even){
  letter-spacing:0;
  cursor:pointer;
}

.f:hover span:nth-child(2){
  transition-delay:0s;
}

.f:hover span:nth-child(4){
  transition-delay:0.5s;
}

.f:hover span:nth-child(6){
  transition-delay:1s;
}



.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i))
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.logo-1 {
  position: relative;
  margin: 20px auto;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}
.logo-1 span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i))
}
@keyframes logo-1 {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}




.container {
  width: max-content;
  margin: 0 auto;
  background: transparent;
}
/* Formatting a division or a section*/
div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
/* Formatting the appearence of heading written with h2 tag */
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
/* Formatting the appearence of heading written with h3 tag */
h3 {
  font-size: 1.7em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: rgb(255, 255, 255);
}
/* Aligning the content in body */

/* parent and child - used to align two text boxes side by side */
.parent {
  margin: 10rem;
  padding: 5rem 5rem;
  text-align: center;
  
  
}
.child {
  display: inline-block;
  padding: 2rem 2rem;
  vertical-align: middle;
  
}



.btn-12{
  color: #0bf4f3;
  position: relative;
  right: 20px;
  left: 60px;
  bottom: 20px;
  border:none;
  width: 130px;
  height: 60px;
  line-height: 40px;
  -webkit-perspective: 230px;
  perspective: 230px;
  background: transparent;
  cursor: pointer;
  
}
.btn-12 span {
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  border: 1px solid #0bf4f3;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  background: #000;
  color: #000;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}



.btn-14 {
  position: relative;
  color: #00aced;
  border: none;
  z-index: 2;
  padding-top: 8px;
  padding-right: 60px;
  padding-bottom: 17px;
  padding-left: 60px;
  background: transparent;
  transition: all 0.3s ease;
  cursor : pointer


}

.btn-14:before,
.btn-14:after {
  position: absolute;
  content: "";
  width: 30%;
  height: 40%;
  border: 1px solid;
  
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-14:before{
   top: 0;
   left: 0;
   border-bottom-color: transparent;
   border-right-color: transparent;
   border-top-color: #00aced;
   border-left-color: #00aced;
}
.btn-14:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: #00aced;
   border-right-color: #00aced;
}
.btn-14:hover:before,
.btn-14:hover:after {
  border-color: #00aced;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px #00aced, 0 0 5px #00aced inset;
}

footer {
  position: relative;
  background : #3586ff;
  padding : 20px 50px;
  min-height : 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .wave {
  position: absolute;
  top : -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom : 0;
  animation : animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom : 10px;
  animation : animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom : 15px;
  animation : animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom : 20px;
  animation : animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
  
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
  
}


/* particles */

@import url(https://fonts.googleapis.com/css?family=Varela+Round);
.snow {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.flake {
  position: absolute;
  border-radius: 50%;
  transform: translateY(0) rotateX(0) rotateY(0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), linear-gradient(135deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
}

.flake:nth-child(1) {
  width: 6px;
  height: 6px;
  top: -23px;
  left: 91%;
  opacity: 0.75;
  filter: blur(4px);
  -webkit-animation: 48s flakes linear infinite;
  animation: 48s flakes linear infinite;
}

.flake:nth-child(2) {
  width: 14px;
  height: 14px;
  top: -295px;
  left: 98%;
  opacity: 0.65;
  filter: blur(4px);
  -webkit-animation: 46s flakes linear infinite;
  animation: 46s flakes linear infinite;
}

.flake:nth-child(3) {
  width: 7px;
  height: 7px;
  top: -86px;
  left: 40%;
  opacity: 0.83;
  filter: blur(4px);
  -webkit-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(4) {
  width: 20px;
  height: 20px;
  top: -618px;
  left: 60%;
  opacity: 0.77;
  filter: blur(3px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(5) {
  width: 20px;
  height: 20px;
  top: -101px;
  left: 30%;
  opacity: 1;
  filter: blur(4px);
  -webkit-animation: 28s flakes linear infinite;
  animation: 28s flakes linear infinite;
}

.flake:nth-child(6) {
  width: 10px;
  height: 10px;
  top: -463px;
  left: 98%;
  opacity: 0.59;
  filter: blur(4px);
  -webkit-animation: 60s flakes linear infinite;
  animation: 60s flakes linear infinite;
}

.flake:nth-child(7) {
  width: 19px;
  height: 19px;
  top: -559px;
  left: 2%;
  opacity: 0.81;
  filter: blur(3px);
  -webkit-animation: 57s flakes linear infinite;
  animation: 57s flakes linear infinite;
}

.flake:nth-child(8) {
  width: 19px;
  height: 19px;
  top: -106px;
  left: 34%;
  opacity: 0.92;
  filter: blur(3px);
  -webkit-animation: 68s flakes linear infinite;
  animation: 68s flakes linear infinite;
}

.flake:nth-child(9) {
  width: 7px;
  height: 7px;
  top: -697px;
  left: 43%;
  opacity: 0.89;
  filter: blur(4px);
  -webkit-animation: 47s flakes linear infinite;
  animation: 47s flakes linear infinite;
}

.flake:nth-child(10) {
  width: 11px;
  height: 11px;
  top: -387px;
  left: 39%;
  opacity: 0.86;
  filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(11) {
  width: 12px;
  height: 12px;
  top: -44px;
  left: 55%;
  opacity: 0.56;
  filter: blur(4px);
  -webkit-animation: 16s flakes linear infinite;
  animation: 16s flakes linear infinite;
}

.flake:nth-child(12) {
  width: 9px;
  height: 9px;
  top: -455px;
  left: 88%;
  opacity: 0.65;
  filter: blur(3px);
  -webkit-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(13) {
  width: 12px;
  height: 12px;
  top: -397px;
  left: 10%;
  opacity: 0.98;
  filter: blur(3px);
  -webkit-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(14) {
  width: 7px;
  height: 7px;
  top: -492px;
  left: 66%;
  opacity: 0.9;
  filter: blur(3px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(15) {
  width: 6px;
  height: 6px;
  top: -390px;
  left: 61%;
  opacity: 0.8;
  filter: blur(3px);
  -webkit-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(16) {
  width: 16px;
  height: 16px;
  top: -628px;
  left: 68%;
  opacity: 0.88;
  filter: blur(3px);
  -webkit-animation: 61s flakes linear infinite;
  animation: 61s flakes linear infinite;
}

.flake:nth-child(17) {
  width: 6px;
  height: 6px;
  top: -453px;
  left: 42%;
  opacity: 0.84;
  filter: blur(4px);
  -webkit-animation: 65s flakes linear infinite;
  animation: 65s flakes linear infinite;
}

.flake:nth-child(18) {
  width: 13px;
  height: 13px;
  top: -211px;
  left: 12%;
  opacity: 0.65;
  filter: blur(4px);
  -webkit-animation: 17s flakes linear infinite;
  animation: 17s flakes linear infinite;
}

.flake:nth-child(19) {
  width: 12px;
  height: 12px;
  top: -286px;
  left: 58%;
  opacity: 0.71;
  filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(20) {
  width: 13px;
  height: 13px;
  top: -526px;
  left: 94%;
  opacity: 0.72;
  filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(21) {
  width: 10px;
  height: 10px;
  top: -262px;
  left: 76%;
  opacity: 1;
  filter: blur(4px);
  -webkit-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(22) {
  width: 19px;
  height: 19px;
  top: -558px;
  left: 29%;
  opacity: 0.79;
  filter: blur(3px);
  -webkit-animation: 70s flakes linear infinite;
  animation: 70s flakes linear infinite;
}

.flake:nth-child(23) {
  width: 10px;
  height: 10px;
  top: -267px;
  left: 53%;
  opacity: 0.89;
  filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(24) {
  width: 13px;
  height: 13px;
  top: -42px;
  left: 99%;
  opacity: 0.69;
  filter: blur(4px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(25) {
  width: 11px;
  height: 11px;
  top: -378px;
  left: 49%;
  opacity: 0.94;
  filter: blur(3px);
  -webkit-animation: 55s flakes linear infinite;
  animation: 55s flakes linear infinite;
}

.flake:nth-child(26) {
  width: 15px;
  height: 15px;
  top: -565px;
  left: 46%;
  opacity: 0.99;
  filter: blur(4px);
  -webkit-animation: 29s flakes linear infinite;
  animation: 29s flakes linear infinite;
}

.flake:nth-child(27) {
  width: 18px;
  height: 18px;
  top: -453px;
  left: 46%;
  opacity: 0.7;
  filter: blur(3px);
  -webkit-animation: 47s flakes linear infinite;
  animation: 47s flakes linear infinite;
}

.flake:nth-child(28) {
  width: 15px;
  height: 15px;
  top: -699px;
  left: 48%;
  opacity: 0.64;
  filter: blur(3px);
  -webkit-animation: 65s flakes linear infinite;
  animation: 65s flakes linear infinite;
}

.flake:nth-child(29) {
  width: 6px;
  height: 6px;
  top: -8px;
  left: 42%;
  opacity: 0.71;
  filter: blur(4px);
  -webkit-animation: 37s flakes linear infinite;
  animation: 37s flakes linear infinite;
}

.flake:nth-child(30) {
  width: 8px;
  height: 8px;
  top: -35px;
  left: 3%;
  opacity: 0.51;
  filter: blur(3px);
  -webkit-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(31) {
  width: 16px;
  height: 16px;
  top: -172px;
  left: 91%;
  opacity: 0.93;
  filter: blur(3px);
  -webkit-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(32) {
  width: 18px;
  height: 18px;
  top: -524px;
  left: 69%;
  opacity: 0.56;
  filter: blur(4px);
  -webkit-animation: 17s flakes linear infinite;
  animation: 17s flakes linear infinite;
}

.flake:nth-child(33) {
  width: 8px;
  height: 8px;
  top: -99px;
  left: 73%;
  opacity: 0.62;
  filter: blur(4px);
  -webkit-animation: 42s flakes linear infinite;
  animation: 42s flakes linear infinite;
}

.flake:nth-child(34) {
  width: 11px;
  height: 11px;
  top: -578px;
  left: 14%;
  opacity: 0.52;
  filter: blur(3px);
  -webkit-animation: 36s flakes linear infinite;
  animation: 36s flakes linear infinite;
}

.flake:nth-child(35) {
  width: 15px;
  height: 15px;
  top: -415px;
  left: 79%;
  opacity: 0.92;
  filter: blur(4px);
  -webkit-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(36) {
  width: 19px;
  height: 19px;
  top: -605px;
  left: 39%;
  opacity: 0.62;
  filter: blur(3px);
  -webkit-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(37) {
  width: 9px;
  height: 9px;
  top: -598px;
  left: 14%;
  opacity: 0.58;
  filter: blur(3px);
  -webkit-animation: 34s flakes linear infinite;
  animation: 34s flakes linear infinite;
}

.flake:nth-child(38) {
  width: 6px;
  height: 6px;
  top: -625px;
  left: 94%;
  opacity: 0.59;
  filter: blur(4px);
  -webkit-animation: 39s flakes linear infinite;
  animation: 39s flakes linear infinite;
}

.flake:nth-child(39) {
  width: 10px;
  height: 10px;
  top: -7px;
  left: 20%;
  opacity: 0.6;
  filter: blur(4px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(40) {
  width: 20px;
  height: 20px;
  top: -259px;
  left: 6%;
  opacity: 0.52;
  filter: blur(3px);
  -webkit-animation: 70s flakes linear infinite;
  animation: 70s flakes linear infinite;
}

.flake:nth-child(41) {
  width: 20px;
  height: 20px;
  top: -647px;
  left: 16%;
  opacity: 0.75;
  filter: blur(4px);
  -webkit-animation: 70s flakes linear infinite;
  animation: 70s flakes linear infinite;
}

.flake:nth-child(42) {
  width: 17px;
  height: 17px;
  top: -166px;
  left: 9%;
  opacity: 0.63;
  filter: blur(4px);
  -webkit-animation: 63s flakes linear infinite;
  animation: 63s flakes linear infinite;
}

.flake:nth-child(43) {
  width: 8px;
  height: 8px;
  top: -530px;
  left: 27%;
  opacity: 0.54;
  filter: blur(3px);
  -webkit-animation: 42s flakes linear infinite;
  animation: 42s flakes linear infinite;
}

.flake:nth-child(44) {
  width: 6px;
  height: 6px;
  top: -583px;
  left: 53%;
  opacity: 0.71;
  filter: blur(4px);
  -webkit-animation: 20s flakes linear infinite;
  animation: 20s flakes linear infinite;
}

.flake:nth-child(45) {
  width: 9px;
  height: 9px;
  top: -153px;
  left: 79%;
  opacity: 0.82;
  filter: blur(4px);
  -webkit-animation: 34s flakes linear infinite;
  animation: 34s flakes linear infinite;
}

.flake:nth-child(46) {
  width: 6px;
  height: 6px;
  top: -20px;
  left: 32%;
  opacity: 0.65;
  filter: blur(3px);
  -webkit-animation: 29s flakes linear infinite;
  animation: 29s flakes linear infinite;
}

.flake:nth-child(47) {
  width: 17px;
  height: 17px;
  top: -412px;
  left: 73%;
  opacity: 0.74;
  filter: blur(3px);
  -webkit-animation: 58s flakes linear infinite;
  animation: 58s flakes linear infinite;
}

.flake:nth-child(48) {
  width: 20px;
  height: 20px;
  top: -535px;
  left: 87%;
  opacity: 0.83;
  filter: blur(3px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(49) {
  width: 8px;
  height: 8px;
  top: -465px;
  left: 34%;
  opacity: 0.96;
  filter: blur(4px);
  -webkit-animation: 69s flakes linear infinite;
  animation: 69s flakes linear infinite;
}

.flake:nth-child(50) {
  width: 16px;
  height: 16px;
  top: -333px;
  left: 15%;
  opacity: 0.61;
  filter: blur(4px);
  -webkit-animation: 63s flakes linear infinite;
  animation: 63s flakes linear infinite;
}

.flake:nth-child(51) {
  width: 6px;
  height: 6px;
  top: -461px;
  left: 3%;
  opacity: 0.82;
  filter: blur(4px);
  -webkit-animation: 45s flakes linear infinite;
  animation: 45s flakes linear infinite;
}

.flake:nth-child(52) {
  width: 20px;
  height: 20px;
  top: -337px;
  left: 62%;
  opacity: 0.51;
  filter: blur(3px);
  -webkit-animation: 23s flakes linear infinite;
  animation: 23s flakes linear infinite;
}

.flake:nth-child(53) {
  width: 13px;
  height: 13px;
  top: -243px;
  left: 1%;
  opacity: 0.98;
  filter: blur(3px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(54) {
  width: 8px;
  height: 8px;
  top: -109px;
  left: 46%;
  opacity: 0.53;
  filter: blur(4px);
  -webkit-animation: 23s flakes linear infinite;
  animation: 23s flakes linear infinite;
}

.flake:nth-child(55) {
  width: 19px;
  height: 19px;
  top: -665px;
  left: 94%;
  opacity: 0.83;
  filter: blur(4px);
  -webkit-animation: 37s flakes linear infinite;
  animation: 37s flakes linear infinite;
}

.flake:nth-child(56) {
  width: 19px;
  height: 19px;
  top: -447px;
  left: 43%;
  opacity: 0.7;
  filter: blur(3px);
  -webkit-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(57) {
  width: 18px;
  height: 18px;
  top: -648px;
  left: 15%;
  opacity: 0.69;
  filter: blur(3px);
  -webkit-animation: 57s flakes linear infinite;
  animation: 57s flakes linear infinite;
}

.flake:nth-child(58) {
  width: 20px;
  height: 20px;
  top: -659px;
  left: 28%;
  opacity: 0.76;
  filter: blur(4px);
  -webkit-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(59) {
  width: 20px;
  height: 20px;
  top: -655px;
  left: 55%;
  opacity: 0.91;
  filter: blur(3px);
  -webkit-animation: 37s flakes linear infinite;
  animation: 37s flakes linear infinite;
}

.flake:nth-child(60) {
  width: 8px;
  height: 8px;
  top: -36px;
  left: 10%;
  opacity: 0.83;
  filter: blur(3px);
  -webkit-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(61) {
  width: 11px;
  height: 11px;
  top: -507px;
  left: 41%;
  opacity: 0.69;
  filter: blur(3px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(62) {
  width: 8px;
  height: 8px;
  top: -73px;
  left: 48%;
  opacity: 0.51;
  filter: blur(3px);
  -webkit-animation: 21s flakes linear infinite;
  animation: 21s flakes linear infinite;
}

.flake:nth-child(63) {
  width: 14px;
  height: 14px;
  top: -380px;
  left: 85%;
  opacity: 0.53;
  filter: blur(4px);
  -webkit-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(64) {
  width: 18px;
  height: 18px;
  top: -680px;
  left: 68%;
  opacity: 0.7;
  filter: blur(4px);
  -webkit-animation: 38s flakes linear infinite;
  animation: 38s flakes linear infinite;
}

.flake:nth-child(65) {
  width: 15px;
  height: 15px;
  top: -5px;
  left: 41%;
  opacity: 0.81;
  filter: blur(3px);
  -webkit-animation: 59s flakes linear infinite;
  animation: 59s flakes linear infinite;
}

.flake:nth-child(66) {
  width: 20px;
  height: 20px;
  top: -298px;
  left: 54%;
  opacity: 1;
  filter: blur(3px);
  -webkit-animation: 52s flakes linear infinite;
  animation: 52s flakes linear infinite;
}

.flake:nth-child(67) {
  width: 8px;
  height: 8px;
  top: -451px;
  left: 20%;
  opacity: 0.66;
  filter: blur(4px);
  -webkit-animation: 48s flakes linear infinite;
  animation: 48s flakes linear infinite;
}

.flake:nth-child(68) {
  width: 8px;
  height: 8px;
  top: -361px;
  left: 94%;
  opacity: 0.58;
  filter: blur(4px);
  -webkit-animation: 47s flakes linear infinite;
  animation: 47s flakes linear infinite;
}

.flake:nth-child(69) {
  width: 12px;
  height: 12px;
  top: -504px;
  left: 61%;
  opacity: 0.72;
  filter: blur(3px);
  -webkit-animation: 24s flakes linear infinite;
  animation: 24s flakes linear infinite;
}

.flake:nth-child(70) {
  width: 12px;
  height: 12px;
  top: -340px;
  left: 38%;
  opacity: 0.79;
  filter: blur(3px);
  -webkit-animation: 41s flakes linear infinite;
  animation: 41s flakes linear infinite;
}

.flake:nth-child(71) {
  width: 7px;
  height: 7px;
  top: -368px;
  left: 55%;
  opacity: 0.86;
  filter: blur(3px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(72) {
  width: 18px;
  height: 18px;
  top: -581px;
  left: 57%;
  opacity: 0.51;
  filter: blur(4px);
  -webkit-animation: 32s flakes linear infinite;
  animation: 32s flakes linear infinite;
}

.flake:nth-child(73) {
  width: 6px;
  height: 6px;
  top: -473px;
  left: 87%;
  opacity: 0.85;
  filter: blur(4px);
  -webkit-animation: 52s flakes linear infinite;
  animation: 52s flakes linear infinite;
}

.flake:nth-child(74) {
  width: 9px;
  height: 9px;
  top: -73px;
  left: 53%;
  opacity: 0.76;
  filter: blur(4px);
  -webkit-animation: 23s flakes linear infinite;
  animation: 23s flakes linear infinite;
}

.flake:nth-child(75) {
  width: 11px;
  height: 11px;
  top: -241px;
  left: 69%;
  opacity: 0.73;
  filter: blur(4px);
  -webkit-animation: 29s flakes linear infinite;
  animation: 29s flakes linear infinite;
}

.flake:nth-child(76) {
  width: 10px;
  height: 10px;
  top: -223px;
  left: 91%;
  opacity: 0.64;
  filter: blur(3px);
  -webkit-animation: 54s flakes linear infinite;
  animation: 54s flakes linear infinite;
}

.flake:nth-child(77) {
  width: 7px;
  height: 7px;
  top: -162px;
  left: 67%;
  opacity: 0.7;
  filter: blur(4px);
  -webkit-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(78) {
  width: 16px;
  height: 16px;
  top: -100px;
  left: 73%;
  opacity: 0.54;
  filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(79) {
  width: 10px;
  height: 10px;
  top: -402px;
  left: 99%;
  opacity: 0.51;
  filter: blur(3px);
  -webkit-animation: 28s flakes linear infinite;
  animation: 28s flakes linear infinite;
}

.flake:nth-child(80) {
  width: 9px;
  height: 9px;
  top: -47px;
  left: 72%;
  opacity: 0.62;
  filter: blur(4px);
  -webkit-animation: 35s flakes linear infinite;
  animation: 35s flakes linear infinite;
}

.flake:nth-child(81) {
  width: 11px;
  height: 11px;
  top: -338px;
  left: 71%;
  opacity: 0.66;
  filter: blur(4px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(82) {
  width: 9px;
  height: 9px;
  top: -407px;
  left: 64%;
  opacity: 0.6;
  filter: blur(4px);
  -webkit-animation: 41s flakes linear infinite;
  animation: 41s flakes linear infinite;
}

.flake:nth-child(83) {
  width: 9px;
  height: 9px;
  top: -520px;
  left: 79%;
  opacity: 0.85;
  filter: blur(4px);
  -webkit-animation: 57s flakes linear infinite;
  animation: 57s flakes linear infinite;
}

.flake:nth-child(84) {
  width: 7px;
  height: 7px;
  top: -220px;
  left: 91%;
  opacity: 0.71;
  filter: blur(3px);
  -webkit-animation: 37s flakes linear infinite;
  animation: 37s flakes linear infinite;
}

.flake:nth-child(85) {
  width: 18px;
  height: 18px;
  top: -23px;
  left: 91%;
  opacity: 1;
  filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(86) {
  width: 19px;
  height: 19px;
  top: -113px;
  left: 15%;
  opacity: 0.9;
  filter: blur(3px);
  -webkit-animation: 49s flakes linear infinite;
  animation: 49s flakes linear infinite;
}

.flake:nth-child(87) {
  width: 20px;
  height: 20px;
  top: -51px;
  left: 61%;
  opacity: 0.88;
  filter: blur(4px);
  -webkit-animation: 16s flakes linear infinite;
  animation: 16s flakes linear infinite;
}

.flake:nth-child(88) {
  width: 12px;
  height: 12px;
  top: -124px;
  left: 82%;
  opacity: 0.96;
  filter: blur(3px);
  -webkit-animation: 60s flakes linear infinite;
  animation: 60s flakes linear infinite;
}

.flake:nth-child(89) {
  width: 10px;
  height: 10px;
  top: -55px;
  left: 12%;
  opacity: 0.66;
  filter: blur(4px);
  -webkit-animation: 37s flakes linear infinite;
  animation: 37s flakes linear infinite;
}

.flake:nth-child(90) {
  width: 6px;
  height: 6px;
  top: -228px;
  left: 40%;
  opacity: 0.85;
  filter: blur(3px);
  -webkit-animation: 16s flakes linear infinite;
  animation: 16s flakes linear infinite;
}

.flake:nth-child(91) {
  width: 17px;
  height: 17px;
  top: -200px;
  left: 54%;
  opacity: 0.98;
  filter: blur(3px);
  -webkit-animation: 32s flakes linear infinite;
  animation: 32s flakes linear infinite;
}

.flake:nth-child(92) {
  width: 8px;
  height: 8px;
  top: -259px;
  left: 33%;
  opacity: 0.56;
  filter: blur(3px);
  -webkit-animation: 24s flakes linear infinite;
  animation: 24s flakes linear infinite;
}

.flake:nth-child(93) {
  width: 17px;
  height: 17px;
  top: -430px;
  left: 52%;
  opacity: 0.85;
  filter: blur(4px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(94) {
  width: 20px;
  height: 20px;
  top: -146px;
  left: 94%;
  opacity: 0.94;
  filter: blur(3px);
  -webkit-animation: 49s flakes linear infinite;
  animation: 49s flakes linear infinite;
}

.flake:nth-child(95) {
  width: 9px;
  height: 9px;
  top: -280px;
  left: 31%;
  opacity: 0.57;
  filter: blur(4px);
  -webkit-animation: 17s flakes linear infinite;
  animation: 17s flakes linear infinite;
}

.flake:nth-child(96) {
  width: 13px;
  height: 13px;
  top: -130px;
  left: 29%;
  opacity: 0.91;
  filter: blur(4px);
  -webkit-animation: 16s flakes linear infinite;
  animation: 16s flakes linear infinite;
}

.flake:nth-child(97) {
  width: 6px;
  height: 6px;
  top: -636px;
  left: 90%;
  opacity: 0.66;
  filter: blur(3px);
  -webkit-animation: 16s flakes linear infinite;
  animation: 16s flakes linear infinite;
}

.flake:nth-child(98) {
  width: 10px;
  height: 10px;
  top: -458px;
  left: 17%;
  opacity: 0.67;
  filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(99) {
  width: 15px;
  height: 15px;
  top: -208px;
  left: 11%;
  opacity: 0.62;
  filter: blur(4px);
  -webkit-animation: 54s flakes linear infinite;
  animation: 54s flakes linear infinite;
}

.flake:nth-child(100) {
  width: 10px;
  height: 10px;
  top: -698px;
  left: 22%;
  opacity: 0.7;
  filter: blur(4px);
  -webkit-animation: 21s flakes linear infinite;
  animation: 21s flakes linear infinite;
}

.flake:nth-child(101) {
  width: 8px;
  height: 8px;
  top: -494px;
  left: 10%;
  opacity: 0.99;
  filter: blur(3px);
  -webkit-animation: 35s flakes linear infinite;
  animation: 35s flakes linear infinite;
}

.flake:nth-child(102) {
  width: 11px;
  height: 11px;
  top: -511px;
  left: 60%;
  opacity: 0.77;
  filter: blur(4px);
  -webkit-animation: 64s flakes linear infinite;
  animation: 64s flakes linear infinite;
}

.flake:nth-child(103) {
  width: 17px;
  height: 17px;
  top: -485px;
  left: 56%;
  opacity: 0.98;
  filter: blur(3px);
  -webkit-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(104) {
  width: 9px;
  height: 9px;
  top: -525px;
  left: 16%;
  opacity: 0.85;
  filter: blur(4px);
  -webkit-animation: 30s flakes linear infinite;
  animation: 30s flakes linear infinite;
}

.flake:nth-child(105) {
  width: 13px;
  height: 13px;
  top: -385px;
  left: 81%;
  opacity: 0.79;
  filter: blur(3px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(106) {
  width: 18px;
  height: 18px;
  top: -79px;
  left: 57%;
  opacity: 0.96;
  filter: blur(3px);
  -webkit-animation: 49s flakes linear infinite;
  animation: 49s flakes linear infinite;
}

.flake:nth-child(107) {
  width: 19px;
  height: 19px;
  top: -242px;
  left: 25%;
  opacity: 0.87;
  filter: blur(4px);
  -webkit-animation: 59s flakes linear infinite;
  animation: 59s flakes linear infinite;
}

.flake:nth-child(108) {
  width: 7px;
  height: 7px;
  top: -646px;
  left: 50%;
  opacity: 0.77;
  filter: blur(3px);
  -webkit-animation: 39s flakes linear infinite;
  animation: 39s flakes linear infinite;
}

.flake:nth-child(109) {
  width: 11px;
  height: 11px;
  top: -539px;
  left: 29%;
  opacity: 0.83;
  filter: blur(3px);
  -webkit-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

.flake:nth-child(110) {
  width: 14px;
  height: 14px;
  top: -543px;
  left: 9%;
  opacity: 0.58;
  filter: blur(4px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(111) {
  width: 7px;
  height: 7px;
  top: -369px;
  left: 33%;
  opacity: 0.85;
  filter: blur(3px);
  -webkit-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

.flake:nth-child(112) {
  width: 7px;
  height: 7px;
  top: -117px;
  left: 74%;
  opacity: 0.77;
  filter: blur(4px);
  -webkit-animation: 69s flakes linear infinite;
  animation: 69s flakes linear infinite;
}

.flake:nth-child(113) {
  width: 20px;
  height: 20px;
  top: -206px;
  left: 20%;
  opacity: 0.87;
  filter: blur(4px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(114) {
  width: 9px;
  height: 9px;
  top: -50px;
  left: 90%;
  opacity: 0.81;
  filter: blur(3px);
  -webkit-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

.flake:nth-child(115) {
  width: 18px;
  height: 18px;
  top: -587px;
  left: 36%;
  opacity: 0.67;
  filter: blur(4px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(116) {
  width: 14px;
  height: 14px;
  top: -430px;
  left: 53%;
  opacity: 0.67;
  filter: blur(3px);
  -webkit-animation: 62s flakes linear infinite;
  animation: 62s flakes linear infinite;
}

.flake:nth-child(117) {
  width: 9px;
  height: 9px;
  top: -540px;
  left: 57%;
  opacity: 0.83;
  filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(118) {
  width: 13px;
  height: 13px;
  top: -190px;
  left: 74%;
  opacity: 0.83;
  filter: blur(4px);
  -webkit-animation: 65s flakes linear infinite;
  animation: 65s flakes linear infinite;
}

.flake:nth-child(119) {
  width: 8px;
  height: 8px;
  top: -415px;
  left: 7%;
  opacity: 0.75;
  filter: blur(4px);
  -webkit-animation: 62s flakes linear infinite;
  animation: 62s flakes linear infinite;
}

.flake:nth-child(120) {
  width: 16px;
  height: 16px;
  top: -586px;
  left: 71%;
  opacity: 0.88;
  filter: blur(4px);
  -webkit-animation: 19s flakes linear infinite;
  animation: 19s flakes linear infinite;
}

.flake:nth-child(121) {
  width: 8px;
  height: 8px;
  top: -287px;
  left: 77%;
  opacity: 0.54;
  filter: blur(3px);
  -webkit-animation: 65s flakes linear infinite;
  animation: 65s flakes linear infinite;
}

.flake:nth-child(122) {
  width: 19px;
  height: 19px;
  top: -509px;
  left: 71%;
  opacity: 0.99;
  filter: blur(3px);
  -webkit-animation: 61s flakes linear infinite;
  animation: 61s flakes linear infinite;
}

.flake:nth-child(123) {
  width: 16px;
  height: 16px;
  top: -429px;
  left: 97%;
  opacity: 0.83;
  filter: blur(3px);
  -webkit-animation: 48s flakes linear infinite;
  animation: 48s flakes linear infinite;
}

.flake:nth-child(124) {
  width: 11px;
  height: 11px;
  top: -689px;
  left: 51%;
  opacity: 0.71;
  filter: blur(4px);
  -webkit-animation: 51s flakes linear infinite;
  animation: 51s flakes linear infinite;
}

.flake:nth-child(125) {
  width: 18px;
  height: 18px;
  top: -349px;
  left: 24%;
  opacity: 0.98;
  filter: blur(3px);
  -webkit-animation: 16s flakes linear infinite;
  animation: 16s flakes linear infinite;
}

.flake:nth-child(126) {
  width: 13px;
  height: 13px;
  top: -524px;
  left: 24%;
  opacity: 0.57;
  filter: blur(3px);
  -webkit-animation: 65s flakes linear infinite;
  animation: 65s flakes linear infinite;
}

.flake:nth-child(127) {
  width: 14px;
  height: 14px;
  top: -175px;
  left: 75%;
  opacity: 0.68;
  filter: blur(3px);
  -webkit-animation: 29s flakes linear infinite;
  animation: 29s flakes linear infinite;
}

.flake:nth-child(128) {
  width: 6px;
  height: 6px;
  top: -37px;
  left: 70%;
  opacity: 0.76;
  filter: blur(4px);
  -webkit-animation: 58s flakes linear infinite;
  animation: 58s flakes linear infinite;
}

.flake:nth-child(129) {
  width: 9px;
  height: 9px;
  top: -255px;
  left: 74%;
  opacity: 0.88;
  filter: blur(3px);
  -webkit-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(130) {
  width: 11px;
  height: 11px;
  top: -309px;
  left: 22%;
  opacity: 0.87;
  filter: blur(3px);
  -webkit-animation: 41s flakes linear infinite;
  animation: 41s flakes linear infinite;
}

.flake:nth-child(131) {
  width: 8px;
  height: 8px;
  top: -481px;
  left: 53%;
  opacity: 0.97;
  filter: blur(3px);
  -webkit-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(132) {
  width: 7px;
  height: 7px;
  top: -680px;
  left: 69%;
  opacity: 0.74;
  filter: blur(4px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(133) {
  width: 8px;
  height: 8px;
  top: -645px;
  left: 87%;
  opacity: 0.74;
  filter: blur(3px);
  -webkit-animation: 45s flakes linear infinite;
  animation: 45s flakes linear infinite;
}

.flake:nth-child(134) {
  width: 13px;
  height: 13px;
  top: -115px;
  left: 1%;
  opacity: 0.85;
  filter: blur(3px);
  -webkit-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(135) {
  width: 19px;
  height: 19px;
  top: -402px;
  left: 61%;
  opacity: 0.95;
  filter: blur(4px);
  -webkit-animation: 70s flakes linear infinite;
  animation: 70s flakes linear infinite;
}

.flake:nth-child(136) {
  width: 15px;
  height: 15px;
  top: -692px;
  left: 30%;
  opacity: 0.53;
  filter: blur(4px);
  -webkit-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(137) {
  width: 6px;
  height: 6px;
  top: -567px;
  left: 30%;
  opacity: 0.76;
  filter: blur(3px);
  -webkit-animation: 57s flakes linear infinite;
  animation: 57s flakes linear infinite;
}

.flake:nth-child(138) {
  width: 11px;
  height: 11px;
  top: -123px;
  left: 38%;
  opacity: 0.58;
  filter: blur(3px);
  -webkit-animation: 68s flakes linear infinite;
  animation: 68s flakes linear infinite;
}

.flake:nth-child(139) {
  width: 16px;
  height: 16px;
  top: -644px;
  left: 18%;
  opacity: 0.81;
  filter: blur(3px);
  -webkit-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(140) {
  width: 13px;
  height: 13px;
  top: -61px;
  left: 93%;
  opacity: 0.58;
  filter: blur(3px);
  -webkit-animation: 62s flakes linear infinite;
  animation: 62s flakes linear infinite;
}

.flake:nth-child(141) {
  width: 18px;
  height: 18px;
  top: -409px;
  left: 84%;
  opacity: 0.73;
  filter: blur(3px);
  -webkit-animation: 37s flakes linear infinite;
  animation: 37s flakes linear infinite;
}

.flake:nth-child(142) {
  width: 13px;
  height: 13px;
  top: -178px;
  left: 26%;
  opacity: 0.84;
  filter: blur(4px);
  -webkit-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(143) {
  width: 7px;
  height: 7px;
  top: -539px;
  left: 76%;
  opacity: 0.66;
  filter: blur(3px);
  -webkit-animation: 45s flakes linear infinite;
  animation: 45s flakes linear infinite;
}

.flake:nth-child(144) {
  width: 15px;
  height: 15px;
  top: -39px;
  left: 1%;
  opacity: 0.87;
  filter: blur(4px);
  -webkit-animation: 39s flakes linear infinite;
  animation: 39s flakes linear infinite;
}

.flake:nth-child(145) {
  width: 18px;
  height: 18px;
  top: -521px;
  left: 62%;
  opacity: 0.66;
  filter: blur(3px);
  -webkit-animation: 35s flakes linear infinite;
  animation: 35s flakes linear infinite;
}

.flake:nth-child(146) {
  width: 7px;
  height: 7px;
  top: -314px;
  left: 96%;
  opacity: 0.61;
  filter: blur(3px);
  -webkit-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(147) {
  width: 11px;
  height: 11px;
  top: -151px;
  left: 60%;
  opacity: 0.95;
  filter: blur(4px);
  -webkit-animation: 63s flakes linear infinite;
  animation: 63s flakes linear infinite;
}

.flake:nth-child(148) {
  width: 10px;
  height: 10px;
  top: -53px;
  left: 64%;
  opacity: 0.98;
  filter: blur(4px);
  -webkit-animation: 64s flakes linear infinite;
  animation: 64s flakes linear infinite;
}

.flake:nth-child(149) {
  width: 18px;
  height: 18px;
  top: -340px;
  left: 24%;
  opacity: 0.68;
  filter: blur(3px);
  -webkit-animation: 70s flakes linear infinite;
  animation: 70s flakes linear infinite;
}

.flake:nth-child(150) {
  width: 16px;
  height: 16px;
  top: -233px;
  left: 32%;
  opacity: 0.94;
  filter: blur(4px);
  -webkit-animation: 64s flakes linear infinite;
  animation: 64s flakes linear infinite;
}

@-webkit-keyframes flakes {
  100% {
    transform: translateY(1000px) rotateX(48deg) rotateY(46deg);
    opacity: 0;
  }
}

@keyframes flakes {
  100% {
    transform: translateY(1000px) rotateX(48deg) rotateY(46deg);
    opacity: 0;
  }
}
